.section {
    padding: 30px 0 !important;
    color: rgb(231, 227, 227) !important;
}

.section .top-side {
    text-align: center !important;
}

.section .top-side .title {
    font-weight: 500 !important;
    font-size: 15px !important;
    display: inline-block !important;
}

.section .top-side .title:after {
    content: "" !important;
    display: block !important;
    width: 50% !important;
    border-bottom: 1px solid #494949 !important;
    margin: 8px auto !important;
}

.section .top-side h2 {
    font-weight: 700 !important;
}

.section.portfolio .filters {
    text-align: center !important;
    margin-top: 50px !important;
}

.section.portfolio .filters ul {
    padding: 0 !important;
}

.section.portfolio .filters ul li {
    list-style: none !important;
    display: inline-block !important;
    padding: 20px 30px !important;
    cursor: pointer !important;
    position: relative !important;
}

.section.portfolio .filters ul li:after {
    content: "" !important;
    display: block !important;
    width: calc(0% - 60px) !important;
    position: absolute !important;
    height: 2px !important;
    background: #333 !important;
    transition: width 350ms ease-out !important;
}

.section.portfolio .filters ul li:hover:after {
    width: calc(100% - 60px) !important;
    transition: width 350ms ease-out !important;
}

.section.portfolio .filters ul li.active:after {
    width: calc(100% - 60px) !important;
}

.section.portfolio .filters-content {
    margin-top: 50px !important;
}

.section.portfolio .filters-content .show {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 350ms !important;
}

.section.portfolio .filters-content .hide {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all 350ms !important;
}

.section.portfolio .filters-content .item {
    text-align: center !important;
    cursor: pointer !important;
    margin-bottom: 30px !important;
}

.section.portfolio .filters-content .item .p-inner {
    padding: 20px 30px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.section.portfolio .filters-content .item .p-inner h5 {
    font-size: 15px !important;
}

.section.portfolio .filters-content .item .p-inner .cat {
    font-size: 13px !important;
}

.section.portfolio .filters-content .item img {
    width: 100% !important;
}